html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus { outline: 0; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { clear: both; }
.clear5 { clear: both; height: 5px; }
.clear10 { clear: both; height: 10px; }
.clear20 { clear: both; height: 20px; }
.clear30 { clear: both; height: 30px; }
.clear40 { clear: both; height: 40px; }

.rad3 {
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.rad5 {
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.rad7 {
-moz-border-radius: 7px;
-khtml-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

.l { float: left; }
.r { float: right; }
.err {
background-color: #CC0033;
color: #FFF;
text-align: center;
font-weight: bold;
font-size: 13px;
margin: 10px 0;
padding: 5px 0;
}

.ok {
background-color: #6DA22E;
color: #FFF;
text-align: center;
font-weight: bold;
font-size: 13px;
margin: 10px 0;
padding: 5px 0;
}

body{
	background-color: #260B39;
	padding-top: 10px;
	font-family: 'Open Sans', "Helvetica Neue", "Trebuchet MS",Arial,sans-serif;
	color: #4b4b4b;
	line-height: 1.6em;
}

.all {
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}
.all p {
	text-indent: 20px;
	padding: 5px 0;
}
.all code {
	background-color: #FF84A5;
	color: #fff;
	font-weight: 600;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 4px 8px;
	font-size: 1em;
	font-family: "Trebuchet MS",Arial,sans-serif;
}

h1, h2, h3, h4 {
	font-weight: normal;
	padding-top: 10px;
}
h1 i, h2 i, h3 i, h4 i{
	color: #676767;
	font-size: 0.9em;
	padding-right: 10px;
}
h1{
	color: #fff;
	font-size: 24px;
}
h2 {
	color: #00B1FF;	
	font-size: 20px;
}

a {
	color: #E0006C;
}
a:hover {
	color: #260B39;
}
.summary,
.documentation {
	background: #fff0f4;
	padding: 20px
}
.summary ol {
	padding-left: 30px;
	line-height: 2em;
	font-size: 1.1rem;
}
.summary ol li{
	padding-bottom: 20px;
}
.summary ol li a{
	text-decoration: none;
	font-weight: 600;
}
.summary ol li ol li{
	padding-bottom: 2px;
}


.documentation h1 {
	color: #fa2dba;
	font-weight: 600;
}
.documentation ol {
	padding-left: 40px;
}
.documentation ol li{
	padding-bottom: 10px;
}